flask
flask-cors
flask-socketio
python-socketio
werkzeug
kafka-python
sqlalchemy
pytz
psycopg2-binary
langchain
langchain-ollama
langchain-core
langchain-classic
streamlit
aiokafka
asyncio
cloudinary
python-dotenv